header {
  background-color: #3498db;
}
main {
  background-image: url(../img/background.png);
}
main h1 {
  color: white;
}
main p {
  color: white;
}
.logo img {
  width: 200px;
  border-radius: 100px;
}
.buttons {
  justify-content: space-evenly;
  text-align: center;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.menu a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.menu :hover {
  color: white;
  transform: scale(1.1);
}
.login button {
  background: none;
  border: none;
}
.login {
  position: relative;
  right: -1700px;
  top: -15px;
}
.login img {
  width: 35px;
}
.login a {
  text-decoration: none;
  color: black;
  position: relative;
  top: -12px;
  font-size: 15px;
}
.login :hover {
  color: white;
  font-size: 17px;
}
.contenedor {
  display: flex;
}
.complejo {
  width: 200px;
  padding: 30px;
  margin: 50px;
  border-radius: 5%;
  background-color: cornflowerblue;
  text-align: left;
  justify-content: center;
}

h4 {
  color: red;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
