header {
  background-color: #3498db;
}
.logo img {
  width: 200px;
  border-radius: 100px;
}
.buttons {
  justify-content: space-evenly;
  text-align: center;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.menu a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.menu :hover {
  color: white;
  transform: scale(1.1);
}
.login button {
  background: none;
  border: none;
}
.login {
  position: relative;
  right: -1700px;
  top: -15px;
}
.login img {
  width: 35px;
}
.login a {
  text-decoration: none;
  color: black;
  position: relative;
  top: -12px;
  font-size: 15px;
}
.login :hover {
  color: white;
  font-size: 17px;
}
main h2 {
  text-align: center;
  color: white;
}
main {
  background-image: url(../img/background.png);
}
.card-border {
  border: white 10px;
  padding: 150px;
}
.tarjetas-1 {
  display: flex;
  justify-content: center;
}
.tarjetas-2 {
  display: flex;
  justify-content: center;
}
.tarjetas-3 {
  display: flex;
  justify-content: center;
}
.tarjetas-4 {
  display: flex;
  justify-content: center;
}
.cards {
  margin: 20px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid black;
  background-color: #9d9d9d;
}
.cards img {
  width: 260px;
}
.cards .footer {
  text-align: center;
  padding: 25px;
}
.cards :hover {
  scale: (1.05);
  color: white;
}
.footer button {
  color: black;
  border-radius: 5px;
  padding: 5px;
}
.footer a {
  text-decoration: none;
  color: black;
}
.card-content {
  padding: 20px;
}
